@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/fundo-formulario.png);
    background-size: contain;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
}

.container .conteudo .titulo {
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 11px;
}

.container .conteudo .texto {
    color: #fff;
    font-size: 15px;
    width: 300px;
}

.container .formulario .cadastro {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
}

.container .formulario .cadastro .dados {
    height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 10px;
}

.container .formulario .cadastro .dados::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.container .formulario .cadastro .mensagem {
    height: 100px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.container .formulario .cadastro .texto-fixo {
    font-size: 15px;
}

.container .formulario .cadastro .botao {
    height: 41px;
    background-color: #3CCC87;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 12px;
    margin: 15px 0 0;
    cursor: pointer;
}

/* CLASSES PARA MANIPULAÇÃO COM JS */
.container .formulario .cadastro .alerta {
    color: #F52E2E;
    font-size: 8px;
    margin: -12px 0 3px;
}

.container .formulario .cadastro .alertaOculto{
    opacity: 0;
}

.container .formulario .cadastro .aceito {
    border: 1px solid #3CCC87;
}

.container .formulario .cadastro .recusado {
    border: 1px solid #F52E2E;
}